EVM_ADDRESS=<0xPREFIXED_EVM_ADDRESS>
SECRET=<BITCOIN_SECRET_32_BYTE_HEX>
BRC20_RPC_URL=<BRC20_PROG_SERVER>
BITCOIN_RPC_URL=<BITCOIN_RPC_URL>
BITCOIN_RPC_USER=<BITCOIN_RPC_USER>
BITCOIN_RPC_PASSWORD=<BITCOIN_RPC_PASSWORD>
BITCOIN_NETWORK=bitcoin
TO_SPEND_FEE_RATE=5.0
PROXY_SERVER_ADDRESS=127.0.0.1:8546
